<!DOCTYPE html>
<html>
  <head>
    <title>Epizon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <%= link_to "Epizon", root_path, class: "brand-logo center" %>
        <a href="#" data-activates="mobile-demo" class="right button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left">
            <li><%= flash[:alert] %></li>
            <li><%= flash[:notice].html_safe unless flash[:notice].blank? %></li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><span class="cart-quantity"><%= link_to "Cart (#{ cart_items })", cart_path %></span></li>
          <li><%= link_to "See all products", products_path %></li>
          <% if admin %>
            <li><%= link_to "Add products", new_product_path %></li>
          <% end %>
          <% if current_user %>
            <li><%= link_to "Sign out", '/sign_out' %></li>
          <% else %>
            <li><%= link_to "Sign up", 'sign_up' %></li>
            <li><%= link_to "Sign in", '/sign_in' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
  <ul class="side-nav" id="mobile-demo">
    <li><span class="cart-quantity"><%= link_to "Cart (#{ cart_items })", cart_path %></span></li>
    <li><%= link_to "See all products", products_path %></li>
    <% if current_user %>
      <li><%= link_to "Sign out", '/sign_out' %></li>
    <% else %>
      <li><%= link_to "Sign up", 'sign_up' %></li>
      <li><%= link_to "Sign in", '/sign_in' %></li>
    <% end %>
  </ul>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
